
body{
  background-image: url(imagenes/fondo_3.png )  ; 
  background-repeat: no-repeat;/*sirve para que la imagen no se repita como un collage,sino que quede estatica*/
}
.linea{
 margin-right:300px;
 margin-left:300px;
}
.center{
 text-align: center;
 text-decoration: none;
}
.logo{
  text-align: center;
  font-size: 100%;
  font-family:'Hind', sans-serif;
  
}
.perfil{
  display:block;
  margin:auto;
}
.menu-center{
  display:flex;
  justify-content: center;
  margin-right: 50px;
  }
  
.menu-center li{
list-style: none;
display:inline-block;
margin-left: 20px;
}

.imagen:hover {
  filter: opacity(.8); /*efecto de transpariencia */
}
.botones{
  background-color: transparent;
  border: transparent;
}
